.container {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: transparent;

  .logo {
    font-size: 1.5rem;
    position: relative;
    justify-self: flex-start;
    color: rgba(0,0,0,0);
    -webkit-background-clip: text;
    background-image: linear-gradient(130deg,red,purple,rgba(165,55,253,1));
    font-size: 5rem;
    font-weight: 800;
    margin-right: auto;
    cursor:pointer
  }

  .address {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: greenyellow;
    margin-left: auto;
  }

  .select-wrapper {
    position: relative;

    // z-index: 10;
  }
}
